@import "reset.css";
.container{
  max-width: 1170px;
  min-width: 960px;
  margin: auto;
}
.pokemon-box{
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.pokemons{
  width: 48px;
  height: 80px;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  position: relative;
  &:hover>.tips{
    display:block;
  }
  .tips{
    display: none;
    position: absolute;
    z-index: 999;
    background: rgba(35, 34, 34, 0.89);;
    border:1px solid #333;
    border-radius: 5px;
    line-height: 15px;
    font-size: 12px;
    color: white;
    padding: 4px;
    text-align: center;
    .arrow{
      display: inline-block;
      position: absolute;
      left: 10px;
      top: -6px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid rgba(35, 34, 34, 0.89);
    }
  }
  .disTime{
    border-radius: 8px;
    background: rgba(238,238,238,0.6);
    border: 1px solid rgba(170,170,170,0.6);
    font-size: 12px;
    color: #333;
    text-align: center;
  }
}
.pokemon-name{
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.location{
  text-align: left;
}
.location-input{
  text-align: center;
  .input-group{
    margin: 15px 0;
    color: #333333;
    div{
      display: inline-block;
    }
    .input-label{
      display: inline-block;
    }
    .input-control{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }
}
.btn{
  background: white;
  border-radius: 5px;
  border:1px solid #eee;
  color: #333333;
  height: 38px;
  min-width: 90px;
  line-height: 38px;
  &:hover{
    cursor: pointer;
  }
}
.btn-info{
  background: #4A80F5;
  color: white;
  &:hover{
    background: #6390f1;
  }
}
.waring{
  font-size: 12px;
  color: red;
}
